[{boss, [
    {path, "/home/anders/code/erlang/ChicagoBoss-0.7.0"},
    {vm_cookie, "abc123"},
    {applications, [laktare]},
    {db_host, "localhost"},
    {db_port, 5433},
    {db_adapter, pgsql},
    {db_database, "laktare"},
    {db_password, "test"},
    {db_username, "laktare"},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ laktare, [
    {path, "../laktare"},
    {base_url, "/"}
]}
].
